<div id="home-wrapper">
  {{> nav/navbar}}
  <h1>BUDGET FORM</h1>
  <div class="container">
  	<div class="form-group">
  	  <label for="month">month:</label>
  	  <input type="text" class="form-control" id="month">
  	</div>
  	<div class="form-group">
  	  <label for="takehome">Takehome:</label>
  	  <input type="text" class="form-control" id="takehome">
  	</div>
    <div class="form-group">
      <label for="food">food:</label>
      <input type="text" class="form-control" id="food">
    </div>
    <div class="form-group">
      <label for="eatingout">eatingout:</label>
      <input type="text" class="form-control" id="eatingout">
    </div>
    <button id="budgetBtn" type="button" class="btn btn-default">Submit</button>
  </div>
</div>
<script type="text/javascript" src="/javascript/site.js"></script>