<!--home page-->

{{> nav/navbar}}

<div id="home-wrapper">

  <div class="container headerImg">
    <img style="width: 100%" src="/assets/images/girl.jpg">

    <div class="jumbotron">
      <h1>PAY OFF YOUR DEBT</h1> 
      <h2>Real solutions to help you pay off your debt and make smarter financial decisions.</h2> 
      <button class="getStartedBtn-HomePage">GET STARTED</button> 

    </div><!-- end jumbtron -->
  </div> <!-- end headerimg div -->
  <div class="homePageBody">
    <div class="row solutions">
        <div class="col-xs-4 solutionsImg">
            <img src="/assets/images/pencil.png">
            <h5>STEP: ONE</h5>
            <p>It is essential that You have a plan. Create a Budget, every dollar has a purpose</p>
            <div class="learnMoreDiv">
                <a href="#" class="learnMoreArrow">
                LEARN MORE   
                <img class="arrowImg" src="/assets/images/right-arrow.png">
                </a>
            </div> <!-- end learnmorediv -->
        </div><!-- end solutiongimg div -->
        <div class="col-xs-4 solutionsImg">
            <img src="/assets/images/computer.png">
            <h5>STEP: TWO</h5>
            <p>Now you know where your money is actually going. But is it going where it should?</p>
            <div class="learnMoreDiv">
                <a href="#" class="learnMoreArrow">
                LEARN MORE   
                <img class="arrowImg" src="/assets/images/right-arrow.png">
                </a>
            </div> <!-- end learnmorediv -->
        </div>
        <div class="col-xs-4 solutionsImg">
            <img src="/assets/images/horseshoe.png">
            <h5>STEP: THREE</h5>
            <p>Putting together a budget is easy: the harder part is sticking to it.</p>
            <div class="learnMoreDiv">
                <a href="#" class="learnMoreArrow">
                LEARN MORE   
                <img class="arrowImg" src="/assets/images/right-arrow.png">
                </a>
            </div> <!-- end learnmorediv -->
        </div>
        
    </div>

    <div class="whyDiv">
        <div class="whyChooseContainer">
            <h2><strong>Why Choose SUPO?</strong></h2>
        </div>
        <div class="whyChooseReasons">
            <p>A Budgeting Grader -</p>
        </div>
        <div class="whyChoose-P">
            <p>No other company out there can offer this unique tool without seeking a specialist in person.  With our budget-grader, you can finally see how much you are taking in versus how much you are spending, and get real-time feedback on your spending habits.</p>
        </div>
        <div class="whyChooseReasons">
            <p>Detailed Spending Insights -</p>
        </div>
        <div class="whyChoose-P">
            <p>For every dollar you spend over your budget, we will offer you plausible, easy to manage tools and tips to make your wallet a little bit thicker every month!</p>
        </div>
        <div class="whyChooseReasons">
            <p>Comparative Spending Tracker -</p>
        </div>
        <div class="whyChoose-P">
            <p>An in debt look at your spending habits, tracked daily and monthly.  View your previous spending and hold it up against your new budgeting self to see your progress!</p>
        </div>
    </div><!-- end whyDiv -->
    

    <div class="realSolutionsDiv">
        <div class="realSolutionsHead">
            <h2><strong>Get REAL Solutions to Pay off Your Debt</strong></h2>
        <br />
        </div>  
        <div class="realSolutionsBlurb">
            <p>Being in debt has a lot in common with being on the top of a ladder—you know that tall, intimidating and unstable piece of metal you use to do dangerous things like clean gutters and cut trees. See the connection? We want to come down from that ladder and re-establish some firm financial footing. Not only that, but we want to pay off our debt fast, in the quickest and most efficient way possible, so that we don’t waste any money on extra unnecessary interest. </p>
        </div>
        <img class="stepImg processline" src="assets/images/processline.png">

        <div class="solutionsProcessDiv">
            <p class="col-xs-4 solutionsProcess text-uppercase">GET REAL FACTS REGARDING YOUR DEBT AND THE FASTEST WAY TO PAY IT OFF. YOU ALSO NEED TO UNDERSTAND WHAT MOTIVATES YOU TO SUCCEED. DO YOU WANT TO PAY DOWN YOUR YOUR DEBT IN THE ABSOLUTE FASTEST AMOUNT OF TIME POSSIBLE that will save more money or do you want to take some little wins along the way to keep yourself motivated?</p>  
            <p class="col-xs-4 solutionsProcess text-uppercase">GET ALTERNATIVES BASED ON INCOME AND SEVERITY OF DEBT. DEBT IS A WAY OF LIFE FOR AMERICANS, WITH OVERALL U.S. HOUSEHOLD DEBT INCREASING BY 11% IN THE PAST DECASE. TODAY, THE AVERAGE HOUSEHOLD WITH CREDIT CARD DEBT HAS BALANCES TOTALING $16,799, AND THE AVERAGE HOUSEHOLD WITH ANY KIND OF DEBT OWED $130,000, INCLUDING MORTAGES. 80% OF THE POPULATION IS IN DEBT. LEARN HOW TO BECOME THE ELITE %20.</p>     
            <p class="col-xs-4 solutionsProcess text-uppercase">EDUCATE YOURSELF ON YOUR LOAN AND DEBT RATES, TAXES, APR%, APY%, & MORE. REDUCE YOUR CUSTOMER DEBT TO REDUCE YOUR INTEREST COSTS. DESPITE THE STATISTICS, YOU NEEDN'T GIVE UP YOUR DREAMS OF BECOMING AN ENTREPENEUR OR HITTING A SEX-FIGURE SALARY TO SAVE MONEY ON INTEREST. KNOW HOW MUCH CONSUMER DEBT YOU'RE CARRYING AND THE COSTS THAT COME WITH IT. THEN WORK ON PAYING DOWN YOUR DEBT, AND CHANGE YOUR LIFE.</p>  
        </div>
    </div> <!-- end of real solutions div -->
    <div class="supoMethodContainer">
        <div class="row supo-method">
            <div class="col-xs-6 supMethImg">
                <img src="/assets/images/supmeth.jpg">
            </div>
            <div class="col-xs-6 supMethList">
                <h1>The SUPO Method</h1>
                <div class="supMethListWords">
                <p>OUR METHOD IS PROVEN TO GET YOU OUT OF DEBT FAST</p>
                <br>
                <br>
                <p>SUPO helps you understand where your money is going so you can better change your behavior, track your expenses, and help you reach your goal of being debt free.</p>
                <button id="learnMore-SupMeth" class="getStart">LEARN MORE</button>
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="youReadyDiv">
      <div class="youReady">
        <h5 class="display-3"><strong>REAL SOLUTIONS TO PAY OFF YOUR DEBT</strong></h5>
      </div>
      <div class="youReadyHeadDiv">
        <h2 class="youReadyHead">Are you ready to be debt free?</h2>
      </div>
      <div class="bottomStartBtn">
        <button class="getStart">GET STARTED</button>
      </div>
      
    </div>  
  </div> <!-- end homePage -->




  

</div>
{{> nav/footer}}
