<!--home page-->

<div id="home-wrapper">
  {{> nav/navbar}}
  <header>

  <div class="container headerImg">
  <img style="width: 100%" src="/assets/images/girl.jpg">

    <div class="jumbotron">
      <h1>PAY OFF YOUR DEBT</h1> 
      <h2>Real solutions to help you pay off your debt and make smarter financial decisions.</h2> 
      <button class="getStartedBtn-HomePage">GET STARTED</button> 

    </div>
  </div>




  
</div>
