{{> nav/navbar}}

    <div class="signup-Wrapper">
        <div class="topSignup">
            <img src="/assets/images/white-s.png">
            <h1>Welcome To SUPO! <br>Join Our Community!</h1>
        </div>
        <div class="container signupContainer">
            <div class="signupDiv">
            <h3>Sign Up Today And Begin Your Path to Getting Rid of Debt!</h3>
            </div>

                <form id="signup" name="signup" method="post" action="/signup">
                    
                    <input class="text signupInput text-center" name="email" type="email" placeholder="Email Address" />
                    
                    <input class="signupInput text-center" name="firstname" type="text" placeholder="First Name" />
                    
                    <input class="signupInput text-center" name="lastname" type="text" placeholder="Last Name" />
                    
                    <input class="signupInput text-center" name="password" type="password" placeholder="Create a Password" />
                    <div class="signupBtn">
                    <input class="btn signUPIN" type="submit" value="Sign Up" />
                    </div>
                </form>
 
        </div>
    </div>  
                 
{{> nav/budgetFooter}}
