<div class="container" id="expense-wrapper-Container"> 
  <div class="row text-center">
    <button type="button" class="btn btn-danger">Budget Amount Set [Total Starting Budget]</button>
    <button type="button" class="btn btn-success">Budget Amount Left [Amount Left]</button>
  </div> {{!-- closes row  --}} 
    <h3>Panels below will change color if budget spent is over, below or close to set Budget for month</h3>
 <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          Food Budget Left for the month : <span id="foodBudgetRemainder"></span></a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <ul class="list-group" id="foodCategory">
        </ul>
        <div class="panel-footer">Food Budget: <span id="foodBudget">[Value pulled from Database]</span></div>
      </div>
    </div> {{!-- closes panel --}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          Clothing Budget Left for the Month : <span id="clothingBudgetRemainder"></span></a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <ul class="list-group" id="clothingCategory">
        </ul>
        <div class="panel-footer">Clothing Budget: <span id="clothingBudget">[Value pulled from Database]</span></div>
      </div>
    </div> {{!-- closes panel --}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          Utilities Budget Left for the Month : <span id="utilitiesBudgetRemainder"></span></a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <ul class="list-group" id="utiltiesCategory">
        </ul>
        <div class="panel-footer">Utilities Budget: <span id="utilitiesBudget">[Value pulled from Database]</span></div>
      </div>
    </div> {{!-- closes panel --}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          Housing Budget Left for the Month : <span id="housingBudgetRemainder"></span></a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <ul class="list-group" id="housingCategory">
        </ul>
        <div class="panel-footer">Housing Budget: <span id="housingBudget">[Value pulled from Database]</span></div>
      </div>
    </div> {{!-- closes panel --}}
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
          Savings Budget Left for the Month : <span id="savingsBudgetRemainder"></span></a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <ul class="list-group" id="savingsCategory">
        </ul>
        <div class="panel-footer">Savings Budget: <span id="savingsBudget">[Value pulled from Database]</span></div>
      </div>
    </div> {{!-- closes panel --}}
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
          Medical Budget Left for the Month : <span id="medicalBudgetRemainder"></span></a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <ul class="list-group" id="medicalCategory">
        </ul>
        <div class="panel-footer">Medical Budget: <span id="medicalBudget">[Value pulled from Database]</span></div>
      </div>
    </div> {{!-- closes panel --}}
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
          Insurance Budget Left for the Month : <span id="insuranceBudgetRemainder"></span></a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <ul class="list-group" id="insuranceCategory">
        </ul>
        <div class="panel-footer">Insurance Budget: <span id="insuranceBudget">[Value pulled from Database]</span></div>
      </div>
    </div> {{!-- closes panel --}}
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
          Transportation Budget Left for the Month : <span id="transportationBudgetRemainder"></span></a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
        <ul class="list-group" id="transportationCategory">
        </ul>
        <div class="panel-footer">Transportation Budget: <span id="transportationBudget">[Value pulled from Database]</span></div>
      </div>
    </div> {{!-- closes panel --}}
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
          Personal Budget Left for the Month : <span id="personalBudgetRemainder"></span></a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
        <ul class="list-group" id="personalCategory">
        </ul>
        <div class="panel-footer">Personal Budget: <span id="personalBudget">[Value pulled from Database]</span></div>
      </div>
    </div> {{!-- closes panel --}}
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
          Entertainment Budget Left for the Month : <span id="entertainmentBudgetRemainder"></span></a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
        <ul class="list-group" id="entertainmentCategory">
        </ul>
        <div class="panel-footer">Entertainment Budget: <span id="entertainmentBudget">[Value pulled from Database]</span></div>
      </div>
    </div> {{!-- closes panel --}}
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
          Debt Budget Left for the Month : <span id="debtBudgetRemainder"></span></a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
        <ul class="list-group" id="debtCategory">
        </ul>
        <div class="panel-footer">Debt Budget: <span id="debtBudget">[Value pulled from Database]</span></div>
      </div>
    </div> {{!-- closes panel --}}
  </div> {{!-- closes full group container --}}
</div> {{!-- closes div container --}}