<div class="container budgetSpentPartial">
	<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div id="foodPanel" class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        FOOD BUDGET LEFT: $200</a>
      </h4>
    </div>
   	<div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Wendy's: $5.00</li>
        <li class="list-group-item">Midnight Cowby Special: $100</li>
        <li class="list-group-item">Monkey Semen: $25.00</li>
      </ul>
      <div class="panel-footer">FOOD BUDGET SPENT: $150</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="clothinBudg" class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Clothing Budget Left: $33,000</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Crown: $12,000</li>
        <li class="list-group-item">Live Monkey (to wear) $1,000</li>
        <li class="list-group-item">Monkey Semen Cream: $19,000</li>
      </ul>
      <div class="panel-footer"> Budget Spent: $32,000</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Collapsible Group 3</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
</div>	
</div>