
/*NAV BAR*/
.logo-small{
    height: 3em;
}
.logo-img{
    padding-top: 0 !important;
}
.container-fluid{
    z-index: 5;
    padding: 1em;
    background-color: rgba(41, 43, 44, .1);
}

.navbar {
    margin: -1px;
}
.navbar-right{
    padding-right: 1em;
}
.nav-tools{
    background: none !important;
}
/*.navbar-brand{
    padding: 0 !important;
}*/


.dropdown-menu {
    padding: 0 !important;
}
ul a{
    font-size: 20px !important;
    text-shadow: none !important;
}
.dropdown-menu a, .dropdown-menu li{
    height: auto !important;
    padding: 2px !important;
}
.dropdown-menu {
    min-width: 0 !important;
}
.tool-dropdown a{
    font-size: 14px !important;
}
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}






/*home page IMAGE JUMBOTRON*/
.headerImg{
    top: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
}
.jumbotron{
    color: white;
    text-align: center;
    background: none;
    margin: 20em 15em;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
}

.jumbotron h1{
        font-family: Montserrat, sans-serif;
        font-size: 4.7em;
        font-weight: bold;
}
.getStartedBtn-HomePage{
    border: none;
    background: #5cb85c;
    margin-top: 2em;
    padding: .65em 5em !important;
}