body{
    overflow: auto;
    font-family: 'Lato', sans-serif !important;
}
#home-wrapper{
    overflow: auto;
}
/*NAV BAR*/
.logo-small{
    height: 3em;
}
.logo-img{
    padding: 0 4em !important;
}
.navbar-nav a{
    color: white;
}
.container-fluid{
    z-index: 5;
    padding: 1em;
    background-color: rgba(41, 43, 44, .1);
}

.navbar {
    margin: -1px;
}
.navbar-right{
    padding-right: 6em;
}
.nav-tools{
    background: none !important;
}
/*.navbar-brand{
    padding: 0 !important;
}*/


.dropdown-menu {
    padding: 0 !important;
}
ul a{
    font-size: 20px !important;
    text-shadow: none !important;
}
.dropdown-menu a, .dropdown-menu li{
    height: auto !important;
    padding: 2px !important;
}
.dropdown-menu {
    min-width: 0 !important;
}
.tool-dropdown a{
    font-size: 14px !important;
}
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}






/*home page IMAGE JUMBOTRON*/
.headerImg{
    top: 0;
    z-index: -1;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 59em;
    overflow: hidden;
}
.jumbotron{
    color: white;
    text-align: center;
    background: none;
    margin: 19em 15em;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
}

.jumbotron h1{
        margin-bottom: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 4.7em;
        font-weight: bold;
}
.jumbotron h2{
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    line-height: 1.5em;
    padding: 0 4em;
    font-weight: 200;
}
.getStartedBtn-HomePage{
    border: none;
    background: #20c254;
    margin-top: 2em;
    padding: 1em 7em !important;
}

/*homePageBody*/
.homePageBody{
}
.solutions{
    margin: 0 9em;
}
.solutionsImg{
    padding: 0 2em;
/*    border-left: 2px solid #c6c1c1;
*/    border-bottom: 2px solid #c6c1c1;
} 
.solutionsImg:nth-child(-n+2){
    border-right: 2px solid #c6c1c1;
}
.solutionsImg img{
    margin: 2em 0;
}
.whyDiv{
    padding: 4em 13em 5em !important;
    background-color: white !important;
} 
.whyChooseContainer{
    margin-top: 5em;
    text-align: center;
}
.whyChooseContainer h2{
    font-size: 37px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 1em;
}
.whyChooseReasons p{
    font-size: 1.5em;
    margin-bottom: 0 !important;
    color: rgb(32,194,84);
}
.whyChoose-P{
    padding-bottom: 1em;
    font-size: 1.3em;
    font-weight: lighter;
}
.learnMoreDiv a{
    color: #20c254;
}
.learnMoreDiv img{
    padding-left: 1em;
}


/*realsolutions*/
.realSolutionsDiv{
    overflow: auto;
    background-color: rgba(127, 125, 152, .02);
    padding-top: 1em;
    padding-bottom: 5em;
}
.realSolutionsHead{
    margin-top: 5em;
    text-align: center;
}
.realSolutionsHead h2{
    font-size: 37px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: .2em;
}
.realSolutionsHead:after {
    content:' ';
    position: absolute;
    display:block;
    width: 9%;
    margin: 0 45%;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}
.realSolutionsBlurb{
    padding: 0 13em 0 15em;
    margin-top: 3em;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 6em;
}
.stepDivSolutions{
    padding: 0 1em;
    margin-left: 13em !important;
    margin-right: 13em !important;
}
.solutionsP{
    font-size: .85em;
}
.stepImg{
    padding-bottom: 1.5em;
    width: 100%;
}
.solutionsProcess{
    padding-right: 5em;
    margin-top: 3em;
    font-size: 1.1em;
    padding-bottom: 6em;
}
.solutionsProcessDiv{
    margin: 0 10em;
    background-color: rgba(127, 125, 152, .02);
}




/*signup page*/
#signup{
    margin-top: 14em;
}




/*signin page*/
#signin{
    margin-top: 14em;
}