{{> nav/navbarBudget}}

<div id="budget-wrapper">
{{> loggedInAs/logginAs}}

  <h2 class="budgetHead">BUDGET FORM</h2>
  <div class="container text-center bdgtBodyContainer">
  <h1>TRANSPORTATION</h1>
    <div class="bdgtForm">
      <div class="form-group">
        <label for="carFuel">Fuel:</label>
        <input type="text" class="form-control" id="carFuel">
      </div>
      <div class="form-group">
        <label for="carRepairs">Car Repairs:</label>
        <input type="text" class="form-control" id="carRepairs">
      </div>
      <div class="form-group">
        <label for="bus">Bus:</label>
        <input type="text" class="form-control" id="bus">
      </div>
      <div class="form-group">
        <label for="train">Train:</label>
        <input type="text" class="form-control" id="train">
      </div>
      <div class="form-group">
        <label for="newCarFund">New Car Fund:</label>
        <input type="text" class="form-control" id="newCarFund">
      </div>
      <div class="form-group">
        <label for="otherTransportation">Other Transportation:</label>
        <input type="text" class="form-control" id="otherTransportation">
      </div>
      <button id="budgetBtn9Back" type="button" class="btn btn-default bgtBtn">Back</button>
      <button id="budgetBtn9" type="button" class="btn btn-default bgtBtn nextBtn">Next</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascript/form9.js"></script>
{{> nav/budgetFooter}}







