<div id="home-wrapper">
  {{> nav/navbar}}
  <h1>BUDGET FORM: DEBT</h1>
  <div class="container">
    <div class="form-group">
      <label for="carPayment1">Car Payment 1:</label>
      <input type="text" class="form-control" id="carPayment1">
    </div>
    <div class="form-group">
      <label for="carPayment2">Car Payment 2:</label>
      <input type="text" class="form-control" id="carPayment2">
    </div>
    <div class="form-group">
      <label for="creditCard1">Credit Card 1:</label>
      <input type="text" class="form-control" id="creditCard1">
    </div>
    <div class="form-group">
      <label for="creditCard2">Credit Card 2:</label>
      <input type="text" class="form-control" id="creditCard2">
    </div>
    <div class="form-group">
      <label for="creditCard3">Credit Card 3:</label>
      <input type="text" class="form-control" id="creditCard3">
    </div>
    <div class="form-group">
      <label for="creditCard4">Credit Card 4:</label>
      <input type="text" class="form-control" id="creditCard4">
    </div>
    <div class="form-group">
      <label for="creditCard5">Credit Card 5:</label>
      <input type="text" class="form-control" id="creditCard5">
    </div>
    <div class="form-group">
      <label for="creditCard6">Credit Card 6:</label>
      <input type="text" class="form-control" id="creditCard6">
    </div>
    <div class="form-group">
      <label for="studentLoan1">Student Loan 1:</label>
      <input type="text" class="form-control" id="studentLoan1">
    </div>
    <div class="form-group">
      <label for="studentLoan2">Student Loan 2:</label>
      <input type="text" class="form-control" id="studentLoan2">
    </div>
    <div class="form-group">
      <label for="studentLoan3">Student Loan 3:</label>
      <input type="text" class="form-control" id="studentLoan3">
    </div>
    <div class="form-group">
      <label for="studentLoan4">Student Loan 4:</label>
      <input type="text" class="form-control" id="studentLoan4">
    </div>
    <div class="form-group">
      <label for="debt1">Debt 1:</label>
      <input type="text" class="form-control" id="debt1">
    </div>
    <div class="form-group">
      <label for="debt2">Debt 2:</label>
      <input type="text" class="form-control" id="debt2">
    </div>
    <div class="form-group">
      <label for="debt3">Debt 3:</label>
      <input type="text" class="form-control" id="debt3">
    </div>
    <div class="form-group">
      <label for="debt4">Debt 4:</label>
      <input type="text" class="form-control" id="debt4">
    </div>
    <button id="budgetBtn12" type="button" class="btn btn-default">Submit(FINAL FORM)</button>
</div>
<script type="text/javascript" src="/javascript/form12.js"></script>