{{> nav/navbar}}

<div id="budget-wrapper">
  <h1 class="budgetHead">BUDGET FORM: SAVINGS</h1>
  <div class="container">
    <div class="form-group">
      <label for="emergencyFund">Emergency Fund:<label>
      <input type="text" class="form-control" id="emergencyFund">
    </div>
    <div class="form-group">
      <label for="retirementFund">Retirement Fund:</label>
      <input type="text" class="form-control" id="retirementFund">
    </div>
    <div class="form-group">
      <label for="collegeFund">College Fund:</label>
      <input type="text" class="form-control" id="collegeFund">
    </div>
    <button id="budgetBtn6" type="button" class="btn btn-default">Next</button>
</div>
<script type="text/javascript" src="/javascript/form6.js"></script>