<div id="home-wrapper">
  {{> nav/navbar}}
  <h1>BUDGET FORM</h1>
  <div class="container">
    <form method="POST" action="/create">
    <h1> Food </h1>
  	<div class="form-group">
  	  <label for="groceries">Groceries:</label>
  	  <input type="text" class="form-control" id="groceries">
  	</div>
  	<div class="form-group">
  	  <label for="eatingOut">Eating Out:</label>
  	  <input type="text" class="form-control" id="eatingout">
  	</div>
<!--     <ul class="list-group" id="budgetAdd">
      <li class="list-group-item">
        <label for="extra">Extra:</label>
        <input type="text" class="form-control" id="name">
        <label for="amount">Amount:</label>
        <input type="number" class="form-control" id="amount"> -->
        <button id="finalSubmit" type="button" class="btn btn-default">GET DATA</button>
<!--       </li>
    </ul> -->
    <button id="budgetBtn2" type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
<script type="text/javascript" src="/javascript/form2.js"></script>

