<div id="home-wrapper">
  {{> nav/navbar}}
  <h1>BUDGET FORM: PERSONAL</h1>
  <div class="container">
    <div class="form-group">
      <label for="educationTuition">Education Tuition:<label>
      <input type="text" class="form-control" id="educationTuition">
    </div>
    <div class="form-group">
      <label for="childCare">Child Care:</label>
      <input type="text" class="form-control" id="childCare">
    </div>
    <div class="form-group">
      <label for="hairCareCosmetics">Hair Care and Cosmetics:</label>
      <input type="text" class="form-control" id="hairCareCosmetics">
    </div>
    <div class="form-group">
      <label for="bookSupplies">Book Supplies:</label>
      <input type="text" class="form-control" id="bookSupplies">
    </div>
    <div class="form-group">
      <label for="childSupport">Child Support:</label>
      <input type="text" class="form-control" id="childSupport">
    </div>
    <div class="form-group">
      <label for="alimony">Alimony:</label>
      <input type="text" class="form-control" id="alimony">
    </div>
    <div class="form-group">
      <label for="pocketMoney">Pocket Money:</label>
      <input type="text" class="form-control" id="pocketMoney">
    </div>
    <div class="form-group">
      <label for="subscriptions">Subscriptions:</label>
      <input type="text" class="form-control" id="subscriptions">
    </div>
    <div class="form-group">
      <label for="babySupplies">Baby Supplies:</label>
      <input type="text" class="form-control" id="babySupplies">
    </div>
    <div class="form-group">
      <label for="petSupplies">Pet Supplies:</label>
      <input type="text" class="form-control" id="petSupplies">
    </div>
    <div class="form-group">
      <label for="otherPersonal1">Other Personal 1:</label>
      <input type="text" class="form-control" id="otherPersonal1">
    </div>
    <div class="form-group">
      <label for="otherPersonal2">Other Personal 2:</label>
      <input type="text" class="form-control" id="otherPersonal2">
    </div>
    <div class="form-group">
      <label for="otherPersonal3">Other Personal 3:</label>
      <input type="text" class="form-control" id="otherPersonal3">
    </div>
    <button id="budgetBtn10" type="button" class="btn btn-default">Next</button>
</div>
<script type="text/javascript" src="/javascript/form10.js"></script>