<div id="home-wrapper">
  {{> nav/navbar}}
  <h1>BUDGET FORM: CLOTHING</h1>
  <div class="container">
    <div class="form-group">
      <label for="clothingAdult">Adult Clothing:</label>
      <input type="text" class="form-control" id="clothingAdult">
    </div>
    <div class="form-group">
      <label for="clothingKids">Kid(s) Clothing:</label>
      <input type="text" class="form-control" id="clothingKids">
    </div>
    <div class="form-group">
      <label for="dryCleaning">Dry Cleaning:</label>
      <input type="text" class="form-control" id="dryCleaning">
    </div>
    <button id="budgetBtn3" type="button" class="btn btn-default">Next</button>
</div>
<script type="text/javascript" src="/javascript/form3.js"></script>