{{> nav/navbar}}

<div id="budget-wrapper">
  <h1 class="budgetHead">BUDGET FORM: INSURANCE</h1>
  <div class="container">
    <div class="form-group">
      <label for="lifeInsurance">Life Insurance:<label>
      <input type="text" class="form-control" id="lifeInsurance">
    </div>
    <div class="form-group">
      <label for="healthInsurance">Health Insurance:</label>
      <input type="text" class="form-control" id="healthInsurance">
    </div>
    <div class="form-group">
      <label for="autoInsurance">Auto Insurance:</label>
      <input type="text" class="form-control" id="autoInsurance">
    </div>
    <div class="form-group">
      <label for="homeRentalInsurance">Home Rental Insurance:</label>
      <input type="text" class="form-control" id="homeRentalInsurance">
    </div>
    <div class="form-group">
      <label for="disabilityInsurance">Disability Insurance:</label>
      <input type="text" class="form-control" id="disabilityInsurance">
    </div>
    <div class="form-group">
      <label for="longTermInsurance">Long Term Insurance:</label>
      <input type="text" class="form-control" id="longTermInsurance">
    </div>
    <button id="budgetBtn8" type="button" class="btn btn-default">Next</button>
</div>
<script type="text/javascript" src="/javascript/form8.js"></script>