{{> nav/navbar}}

<div id="budget-wrapper">
  <h1 class="budgetHead">BUDGET FORM</h1>
  <div class="container">
  <h1> Your Pay </h1>
  	<div class="form-group">
  	  <label for="month">Month:</label>
  	  <input type="text" class="form-control" id="month">
  	</div>
  	<div class="form-group">
  	  <label for="takehome">Weekly Take Home:</label>
  	  <input type="number" class="form-control" id="takehome">
  	</div>
    <div class="form-group">
      <label for="frequency">How Often do you get payed every Month:</label>
      <input type="number" class="form-control" id="frequency">
    </div>
    <button id="budgetBtn" type="button" class="btn btn-default">Next</button>
  </div>
</div>
<script type="text/javascript" src="/javascript/form.js"></script>