{{> nav/navbarBudget}}

<div id="budget-wrapper">
{{> loggedInAs/logginAs}}

  <h2 class="budgetHead"><i>BUDGET FORM</i></h2>
  <div class="container text-center bdgtBodyContainer">
  <h1>CLOTHING</h1>
    <div class="bdgtForm">
      <div class="form-group">
        <label for="clothingAdult">Adult Clothing:</label>
        <input type="text" class="form-control" id="clothingAdult">
      </div>
      <div class="form-group">
        <label for="clothingKids">Kid(s) Clothing:</label>
        <input type="text" class="form-control" id="clothingKids">
      </div>
      <div class="form-group">
        <label for="dryCleaning">Dry Cleaning:</label>
        <input type="text" class="form-control" id="dryCleaning">
      </div>
      <button id="budgetBtn3Back" type="button" class="btn btn-default bgtBtn">Back</button>
      <button id="budgetBtn3" type="button" class="btn btn-default bgtBtn nextBtn">Next</button>
      </div>
    </div>
</div>
<script type="text/javascript" src="/javascript/form3.js"></script>
{{> nav/budgetFooter}}
