{{> nav/navbarBudget}}


<div id="budget-wrapper">
{{> loggedInAs/logginAs}}

  <h2 class="budgetHead"><i>BUDGET FORM</i></h2>
  <div class="container text-center bdgtBodyContainer">
  <h1>MEDICAL</h1>
    <div class="bdgtForm">
      <div class="form-group">
        <label for="medications">Medications:</label>
        <input type="text" class="form-control" id="medications">
      </div>
      <div class="form-group">
        <label for="doctorBills">Doctor Bills:</label>
        <input type="text" class="form-control" id="doctorBills">
      </div>
      <div class="form-group">
        <label for="hospitalBills">Hospital Bills:</label>
        <input type="text" class="form-control" id="hospitalBills">
      </div>
      <div id="additionalMedBillDiv">
        <h3>Other Medical Bills?  Add them Here <span><button id="addMedBill">+</button></span></h3>
      </div>
      <button id="budgetBtn7Back" type="button" class="btn btn-default bgtBtn">Back</button>
      <button id="budgetBtn7" type="button" class="btn btn-default bgtBtn nextBtn">Next</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="/javascript/form7.js"></script>
{{> nav/budgetFooter}}





