  {{> nav/navbar}}

<div id="budget-wrapper">
  <h1 class="budgetHead">BUDGET FORM: ENTERTAINMENT</h1>
  <div class="container">
    <div class="form-group">
      <label for="entertainment">Entertainment:</label>
      <input type="text" class="form-control" id="entertainment">
    </div>
    <div class="form-group">
      <label for="vacation">Vacation:</label>
      <input type="text" class="form-control" id="vacation">
    </div>
    <button id="budgetBtn11Back" type="button" class="btn btn-default bgtBtn">Back</button>
    <button id="budgetBtn11" type="button" class="btn btn-default bgtBtn">Next</button>
</div>
<script type="text/javascript" src="/javascript/form11.js"></script>
{{> nav/budgetFooter}}
