<div id="home-wrapper">
  {{> nav/navbar}}
  <h1>BUDGET FORM: UTILITIES</h1>
  <div class="container">
    <div class="form-group">
      <label for="electricity">Electricity:</label>
      <input type="text" class="form-control" id="electricity">
    </div>
    <div class="form-group">
      <label for="mobilePhone">Mobile Phone:</label>
      <input type="text" class="form-control" id="mobilePhone">
    </div>
    <div class="form-group">
      <label for="gas">Gas:</label>
      <input type="text" class="form-control" id="gas">
    </div>
    <div class="form-group">
      <label for="trash">Trash:</label>
      <input type="text" class="form-control" id="trash">
    </div>
    <div class="form-group">
      <label for="water">Water:</label>
      <input type="text" class="form-control" id="water">
    </div>
    <div class="form-group">
      <label for="internet">Internet:</label>
      <input type="text" class="form-control" id="internet">
    </div>
    <div class="form-group">
      <label for="cable">Cable:</label>
      <input type="text" class="form-control" id="cable">
    </div>
    <button id="budgetBtn4" type="button" class="btn btn-default">Next</button>
</div>
<script type="text/javascript" src="/javascript/form4.js"></script>