{{> nav/navbar}}

<div id="budget-wrapper">
  <h1 class="budgetHead">BUDGET FORM: MEDICAL</h1>
  <div class="container">
    <div class="form-group">
      <label for="medications">Medications:</label>
      <input type="text" class="form-control" id="medications">
    </div>
    <div class="form-group">
      <label for="doctorBills">Doctor Bills:</label>
      <input type="text" class="form-control" id="doctorBills">
    </div>
    <div class="form-group">
      <label for="hospitalBills">Hospital Bills:</label>
      <input type="text" class="form-control" id="hospitalBills">
    </div>
    <div class="addMedBillDiv">
      <h3>Other Medical Bills?  Add them Here <span><button id="addMedBill">+</button></span></h3>
    
    </div>
<!--     <div class="form-group">
      <label for="otherMedical1">Other Medical 1:</label>
      <input type="text" class="form-control" id="otherMedical1">
    </div>
    <div class="form-group">
      <label for="otherMedical2">Other Medical 2:</label>
      <input type="text" class="form-control" id="otherMedical2">
    </div>
    <div class="form-group">
      <label for="otherMedical3">Other Medical 3:</label>
      <input type="text" class="form-control" id="otherMedical3">
    </div> -->
    <button id="budgetBtn7Back" type="button" class="btn btn-default bgtBtn">Back</button>
    <button id="budgetBtn7" type="button" class="btn btn-default bgtBtn">Next</button>
  </div>
</div>
<script type="text/javascript" src="/javascript/form7.js"></script>
{{> nav/budgetFooter}}
