{{> nav/navbarBudget}}

<div id="budget-wrapper">
{{> loggedInAs/logginAs}}

  <h2 class="budgetHead"><i>BUDGET FORM</i></h2>
  <div class="container text-center bdgtBodyContainer">
  <h1>UTILITIES</h1>
    <div class="bdgtForm">
      <div class="form-group">
        <label for="electricity">Electricity:</label>
        <input type="text" class="form-control" id="electricity">
      </div>
      <div class="form-group">
        <label for="mobilePhone">Mobile Phone:</label>
        <input type="text" class="form-control" id="mobilePhone">
      </div>
      <div class="form-group">
        <label for="gas">Gas:</label>
        <input type="text" class="form-control" id="gas">
      </div>
      <div class="form-group">
        <label for="trash">Trash:</label>
        <input type="text" class="form-control" id="trash">
      </div>
      <div class="form-group">
        <label for="water">Water:</label>
        <input type="text" class="form-control" id="water">
      </div>
      <div class="form-group">
        <label for="internet">Internet:</label>
        <input type="text" class="form-control" id="internet">
      </div>
      <div class="form-group">
        <label for="cable">Cable:</label>
        <input type="text" class="form-control" id="cable">
      </div>
      <button id="budgetBtn4Back" type="button" class="btn btn-default bgtBtn">Back</button>
      <button id="budgetBtn4" type="button" class="btn btn-default bgtBtn nextBtn">Next</button>
      </div>
    </div>
</div>
<script type="text/javascript" src="/javascript/form4.js"></script>
{{> nav/budgetFooter}}
