{{> nav/navbar}}
<div class="graderWrapper">
	<h1>FOOD GRADER</h1>

	<div id="budgetTotal"></div>
	<div id="budgetPercent"></div>
	<div id="budgetGrade"></div>

	<button id="foodGraderBack" type="button">Back</button>
	<button id="foodGraderNext" type="button">Next</button>
</div>

<script type="text/javascript" src="/javascript/foodGrader.js"></script>

{{> nav/budgetFooter}}