{{> nav/navbar}}

<div class="grader-Wrapper">
	<div class="container">
		<h1>HOUSING BUDGET GRADER</h1>

		<div id="budgetTotal"></div>
		<div id="budgetPercent"></div>
		<div id="budgetGrade"></div>
		<div id="advice"></div>

		<button id="housingGraderBack" type="button" class="btn btn-default bgtBtn">Back</button>
		<button id="housingGraderNext" type="button" class="btn btn-default bgtBtn">Next</button>
	</div>
</div>

<script type="text/javascript" src="/javascript/grader.js"></script>
<script type="text/javascript" src="/javascript/housingGrader.js"></script>
<script type="text/javascript" src="/javascript/advice.js"></script>

{{> nav/budgetFooter}}