{{> nav/navbarBudget}}

<div class="grader-Wrapper">
	<div class="container">
        <div class="debtGradeDiv">
            <h1>HOUSING BUDGET GRADER</h1>
        </div>

		<div id="budgetTotal"></div>
		<div id="budgetPercent"></div>
		<div id="budgetGrade"></div>
        <div id="aplus"></div>
        <div id="advice">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseAdvice">
                  Here Is Some Advice You Should Probably Take.</a>
                </h4>
              </div>
              <div id="collapseAdvice" aria-expanded="false" class="panel-collapse collapse collapse in">
                <ul class="list-group">
        
                </ul>
                <div class="panel-footer"></div>
              </div>

            </div> {{!-- closes panel --}}
          </div>
        </div>  <!-- {{!closes advice div }} -->
		<button id="housingGraderBack" type="button" class="btn btn-default bgtBtn">Back</button>
		<button id="housingGraderNext" type="button" class="btn btn-default bgtBtn nextBtn">Next</button>
	</div>
</div>

<script type="text/javascript" src="/javascript/grader.js"></script>
<script type="text/javascript" src="/javascript/housingGrader.js"></script>
<script type="text/javascript" src="/javascript/advice.js"></script>

{{> nav/budgetFooter}}