{{> nav/navbar}}

<div class="grader-Wrapper">
	<div class="container">
		<h1>MEDICAL BUDGET GRADER</h1>

		<div id="budgetTotal"></div>
		<div id="budgetPercent"></div>
		<div id="budgetGrade"></div>

		<button id="medicalGraderBack" type="button" class="btn btn-default bgtBtn">Back</button>
		<button id="medicalGraderNext" type="button" class="btn btn-default bgtBtn">Next</button>
	</div>
</div>

<script type="text/javascript" src="/javascript/medicalGrader.js"></script>

{{> nav/budgetFooter}}