{{> nav/navbarBudget}}

<div class="grader-Wrapper">
	<div class="container">
        <div class="debtGradeDiv">
            <h1>TRANSPORTATION BUDGET GRADER</h1>
        </div>

		<div id="budgetTotal"></div>
		<div id="budgetPercent"></div>
		<div id="budgetGrade"></div>
		<div id="advice"></div>

		<button id="transportationGraderBack" type="button" class="btn btn-default bgtBtn">Back</button>
		<button id="transportationGraderNext" type="button" class="btn btn-default bgtBtn nextBtn">Next</button>
	</div>
</div>

<script type="text/javascript" src="/javascript/grader.js"></script>
<script type="text/javascript" src="/javascript/transportationGrader.js"></script>
<script type="text/javascript" src="/javascript/advice.js"></script>

{{> nav/budgetFooter}}