<div class="footerContainer">
  <div class='footer'>
    <div class="col-xs-6 left">
        <img class="whiteLogoImg" src="../assets/images/white-supo.png">
        <p><img class="emailIcon" src="../assets/images/arroba(1).png">
        <strong>Email: admin@supo.com</strong></p>
        <br>
    </div>

    <div class="rightFooter"> 
        <div class="col-xs-2">
            <p class="footerTopics"><strong>GET HELP</strong></p>
            <p><a href="#">FAQ</a></p>
            <p><a href="/debt101">Debt 101</a></p>
            <p><a href="/mainform">Budget Grader</a></p>
            <p><a href="/expenseTracker">Expense Tracker</a></p>
        </div>



        <div class="col-xs-2">
            <p class="footerTopics"><strong>THE SUPO METHOD</strong></p>
            <p><a href="#">10 Step Method</a></p>
            <p><a href="#">Advice</a></p>
            <p><a href="#">Our Tools</a></p>
            <p><a href="#"></a></p>
        </div>

        <div class="col-xs-2">
            <p class="footerTopics"><strong>ABOUT</strong></p>
            <p><a href="#">About Us</a></p>
            <p><a href="#">Why Choose Us</a></p>
            <p><a href="#">Contact</a></p>  
        </div>
    </div>



  </div> <!-- end footer -->
   <div class="footerCopy">
      <p>Copyright 2017&copy; SUPO | All Rights Reserved</p>
   </div> <!-- end footercopy -->
</div> <!-- end footercontainer -->