<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo-img" href="/"><img class="logo-small" src="/assets/images/logoSmall.png"></a>
      <span class="nav-right"><a class="navbar-brand" href="/budgetForm">Make a Budget</a>
      <a class="navbar-brand" href="/signup">Sign Up</a>
      <a class="navbar-brand" href="/signin">Login</a>
      <a class="navbar-brand" href="/logout">Logout</a>
      </span>
    </div>
    <div>
    	<h2>USER_ID: {{req.session.username}}</h2>
    </div>
  </div>
</nav> -->
<div class="navbar-div">
<nav class="navbar navbar-fixed-top">
  <div stye="float: left" class="navbar-container container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo-img" href="/"><img class="logo-small" src="/assets/images/logoSmall.png"></a>
      <p style="color: white; float: left">Your Name: {{userData.firstname}}</p>
    </div> <!--end navbar-->
    <ul class="nav navbar-nav navbar-right">
      <a class="navbar-brand" href="/">HOME
        <a class="navbar-brand" href="/signup">SIGN UP</a>
        <a class="navbar-brand" href="/signin">LOGIN</a>
      <li class="dropdown">
        <a class="dropdown-toggle navbar-brand nav-title nav-tools" data-toggle="dropdown" href="#">TOOLS
        <ul class="dropdown-menu">
          <li class="tool-dropdown"><a href="/budgetForm">CREATE YOUR BUDGET</a></li>
          <li class="tool-dropdown"><a href="#">SUBMENU 2</a></li>
          <li class="tool-dropdown" class="dropdown-submenu">
            <a class="test tool-dropdown tool-dropdown" tabindex="-1" href="#">SUBMENU 3</a>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="#">SUBMENU 1</a></li>
              <li><a tabindex="-1" href="#">SUBMENU 2</a></li>
              <li><a tabindex="-1" href="#">SUBMENU 3</a></li>  
            </ul>
          </li>
        </ul>
      </li>       
    </ul>
  </div>
</nav>
</div><!--end navbar-div-->
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>