

<div class="navbar-div">
<nav class="navbar navbar-fixed-top">
  <div stye="float: left" class="navbar-container container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo-img" href="/"><img class="logo-small" src="/assets/images/logoSmall.png"></a>
     {{!--  <p style="color: white; float: left">Your Name: {{userData.firstname}}</p> --}}
    </div> <!--end navbar-->
    <ul class="nav navbar-nav navbar-right">
        <a class="navbar-brand navmenuDrop" href="/">HOME</a>
        <a class="navbar-brand navmenuDrop" href="/dash">DASHBOARD</a>
        <a class="navbar-brand navmenuDrop" href="/signup">SIGN UP</a>
        <a class="navbar-brand navmenuDrop" href="/signin">LOGIN</a>
      <li class="dropdown">
        <a class="dropdown-toggle navbar-brand nav-title nav-tools navmenuDrop" data-toggle="dropdown" href="#">TOOLS
        <ul class="dropdown-menu">
          <li class="tool-dropdown"><a class="navmenuDrop" href="/budgetForm">CREATE YOUR BUDGET</a></li>
          <li class="tool-dropdown"><a class="navmenuDrop" href="/expenses">EXPENSE TRACKER</a></li>
          <li class="tool-dropdown" class="dropdown-submenu">
            <a class="test tool-dropdown navmenuDrop tool-dropdown" tabindex="-1" href="#">SUBMENU 3</a>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="#">SUBMENU 1</a></li>
              <li><a tabindex="-1" href="#">SUBMENU 2</a></li>
              <li><a tabindex="-1" href="#">SUBMENU 3</a></li>  
            </ul>
          </li>
        </ul>
      </li>       
    </ul>
  </div>
</nav>
</div><!--end navbar-div-->
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>