<!DOCTYPE html>
<html>
 
<head>
    <title>Results</title>
</head>
 
<body>
    <h2>Results</h2>
    <h5>Hurray! you are logged in.</h5>

    <form id="budget" name="budget" method="post">
        <label for="takeHome">Take Home</label>
        <input name="takeHome" type="text" />
        <input class="btn" type="submit" value="results" />
    </form>
 
</body>
 
</html>